# abstract base
-e ./ii_constructor/packages/core
-e ./ii_constructor/packages/engine

# repositories
-e ./ii_constructor/packages/mariarepo
-e ./ii_constructor/packages/mysqlrepo
-e ./ii_constructor/packages/inmemoryrepo

# inputs
-e ./ii_constructor/packages/levenshtain

# platforms
-e ./ii_constructor/packages/yandex

# presentation infrastructure
-e ./ii_constructor/packages/gui